@loginFormWidth:320px;
.login-form {
    width: @loginFormWidth;
    max-width: 400px;
    position: absolute;
    left: calc(50% - @loginFormWidth/2);
    top: 50%
  }

.login-form-margin {
    margin-bottom: 16px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}