<nz-layout class="app-layout">
    <nz-header>
      <div class="app-header">
        <div class="app-header-left-logo"></div>
        <div class="app-header-left-menu">
          <ul nz-menu nzTheme="'light'" nzMode="horizontal">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/main/footprint">{{ 'menu.footprint' | translate}}</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/main/diary">{{ 'menu.diary' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="header-right">
          <nz-avatar nzSize="large" nzIcon="user" nz-dropdown [nzPlacement]="'bottomCenter'" [nzDropdownMenu]="menu"></nz-avatar>
          <nz-dropdown-menu #menu="nzDropdownMenu" >
            <ul nz-menu>
              <li nz-menu-item>{{userName}}</li>
              <li nz-menu-item (click)="showLogoutConfirm()">退出</li>
            </ul>
          </nz-dropdown-menu>
        </div>    
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
</nz-layout>
  